<a href="https://colab.research.google.com/github/saurabhd22/EDAcp/blob/main/Global_Terrorism_Analysis_Capstone_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

# Explore : travel through (an unfamiliar area) in order to learn about it. 
## What is a single most important task for an explorer ? " When you travel into unknown lands to discover new part of the world, it is to ensure records of your discoveries are delivered back safe and sound, with or without you. Otherwise, it is all vein" An intruging line from a netflix movie 'Against the ice'

Exploration of data in data science is as important as the age of exploration (discovery) was for geography, history, science and  humanity. Age of exploration seeded the idea of globalization in true sense. Today one of the major challenges faced by the global world is terrorism. 

With access to The Global Terrorism Database our first task is to really explore the data to really understand it and try to learn from it. 
We really dont know what we gonna find out but, very excited!


So here go !

# Lets begin with rituals !

In [ ]:
# Though it's not mandetory still, it always has to be np and pd.!

import numpy as np
import pandas as pd

In [ ]:
# Mounting the drive

from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Loading the csv file containing data
df=pd.read_csv('/content/drive/MyDrive/EDA CP1 SaurabhD/GTD1.csv',encoding="ISO-8859-1")

In [ ]:
# As we have the data now, lets see what's in it.
df.info()

## This .info() didn't really show the basic information about our dataframe as expected. So we had to do some exploration on google to be able to view elaborate basic information.

In [ ]:
# Below code gave us the info of all colums, their data types and null values. 
# Only df.info(verbose = True) gives all columns but doesn't show count of null values
df.info(verbose = True,null_counts = True)

# 135 columns of data with with acronymed headers. 
## Looks like we need to read all 135 column names try to figure out what data they are really storing.

In [ ]:
# This was supposed to show us name of all columns but, looks like we need to again take help from google.
df.columns

In [ ]:
# Basic
df.shape

In [ ]:
# Thats a lot of data
df.size

In [ ]:
# This is supposed to show first 5 rows of dataframe which it did but while hiding many many columns in middle.
df.head()

In [ ]:
# So this is what we had to do to get all the columns, just say 'display.max_columns'
pd.set_option('display.max_columns', None)

In [ ]:
# And yes we are able to see all columns. Feels quite like an explorer !
df.head()

In [ ]:
df.tail()

# I think we can call this Data Cleaning!
## After a tedious task of veiwing content of each of 135x column just through head and tail and correlating with basic information about type of data and null values. We had to pick the columns which seemed to have more relevent and readable information.
## So in below code we picked the column names for use in our further exploration and analys.

In [ ]:
# Just lis of column names handpicked from complete df
columns_to_use = ['eventid', 'iyear', 'imonth', 'iday', 'country_txt', 'region_txt', 'success' , 'suicide' ,'attacktype1', 'attacktype1_txt' , 'targtype1_txt', 'gname' , 'weaptype1_txt' , 'nkill', 'nwound', 'propextent_txt' , 'propvalue' , 'ransompaid'  ]

In [ ]:
# So we are going ahead with total 17 columns
len(columns_to_use)

# Creating new data frame for further use with 'columns_to_use'

In [ ]:
# Passing a list of shortlisted columns names into new_df
new_df = df[columns_to_use]

In [ ]:
# Just reading out the basic information of new df
new_df.info()

In [ ]:
# Lets raname column names to familiar names
new_df.rename(columns={'iyear':'Year','imonth':'Month','iday':'Day','country_txt':'Country', 'region_txt':'Region', 'success': 'Success',
                       'attacktype1_txt':'Type_Of_Attack','targtype1_txt':'Target_Group', 'gname':'Terrorist_Group', 'weaptype1_txt' : 'Weapons' , 'nkill':'Killed',
                       'nwound':'Wounded','propextent_txt':'Property_Dam','propvalue':'Damage_To_Prop','ransompaid':'ransompaid'},inplace=True)

In [ ]:
# Lets see if last code did work 
new_df.info()

In [ ]:
# Count of reported terrorist events.
new_df.eventid.nunique()

In [ ]:
# Count of successful events out of reported ones.
new_df.Success.value_counts()

In [ ]:
# Finding count of unique values in country column.
new_df.Country.nunique()

# There are 205 countries in data

In [ ]:
# Reading unique values in country column.
new_df.Country.unique()

In [ ]:
# Lets see the country wise number of attacks.
new_df['Country'].value_counts()

# The Country with highest number of terrorist attacks

In [ ]:
# So below code gives coutry with highst number of terrorist events
print('Most affected country:', new_df['Country'].value_counts().idxmax())

In [ ]:
# Finding count of unique values in region_txt column.
new_df.Region.nunique()

# 12 Gergraphical regions. Considering large of count of countries, geographical region seems easier option to explore geaugraphy wise proporties of availble data

In [ ]:
# Lets see what are 12 regions.
new_df.Region.unique()

In [ ]:
# And here we can see region wise number of reported events
new_df.Region.value_counts()

In [ ]:
# Middle East & North Africa is region with maximum events, lets create a dataframe for same and see properties of this continent
df_middle_east_asia = new_df[new_df.Region == 'Middle East & North Africa']

In [ ]:
df_middle_east_asia.head()

In [ ]:
# Lets see country wise reported events in Middle East & North Africa
df_middle_east_asia.Country.value_counts()

# If we look at the percentage of events in Iraq with resepect to world and the region, it is evident Iraq has been the most affected country

In [ ]:
# Percentage of attacks in Iraq with respect to world


perc_of_attacks_on_Iraq = (new_df.Country[new_df.Country=='Iraq'].value_counts()) / new_df.eventid.nunique() *100
perc_of_attacks_on_Iraq

In [ ]:
# Percentage of attacks in Iraq with respect to region of Middle east asia and Africa
perc_of_attacks_on_Iraq_wrt_region =(new_df.Country[new_df.Country=='Iraq'].value_counts()) / df_middle_east_asia.eventid.nunique() *100
perc_of_attacks_on_Iraq_wrt_region

# If we look at the number of killings in Iraq and total number of reported killings, we find huge difference. Probably number of killings in Iraq were not reported only.

In [ ]:
print(new_df.loc[new_df['Killed'].idxmax(),'Country'],'is the most affected country with number of people killed',new_df.Killed[new_df.Country=='Iraq'].sum())

In [ ]:
new_df.Killed[new_df.Country=='Iraq'].sum()

In [ ]:
# Total Reported killings in world from 1970 to 2017
new_df.Killed.sum()

## Out of 205 counties in the world The percentage of of people killed only in Iraq is more than 19% of overall reported killings

In [ ]:
# Percantage of people killed only in Iraq compated to overall killings
Perc_killing_in_Iraq= new_df.Killed[new_df.Country=='Iraq'].sum() / new_df.Killed.sum() *100
Perc_killing_in_Iraq

# Type of Terrorist attacks

In [ ]:
# Unique values in type of attack
new_df.Type_Of_Attack.unique()

# Some more datacleaning in below 2 cells

In [ ]:
# getting rid of all umknown values in complete dataframe
new_df = new_df.replace(['Unknown'],None)

In [ ]:
# getting rid of negative values in Damage_To_Prop
new_df[new_df.Damage_To_Prop<0]=0

In [ ]:
new_df.Damage_To_Prop.min()

In [ ]:
# Combining 2x types of Hostage Taking into one for further analysis
new_df['Type_Of_Attack'] = new_df['Type_Of_Attack'].replace(['Hostage Taking (Kidnapping)','Hostage Taking (Barricade Incident)'],['Hostage Taking','Hostage Taking'])

In [ ]:
# Just checking if previous code did the job
new_df.Type_Of_Attack.unique()

In [ ]:
# Lets check out what have bin the top targets of terrorist
new_df.Target_Group.unique()

In [ ]:
# Count of different targets of terrorists
new_df.Target_Group.nunique()

##%matplotlib inline sets the backend of matplotlib to the 'inline' backend
With this backend, the output of plotting commands is displayed inline within frontends like the Jupyter notebook, directly below the code cell that produced it. The resulting plots will then also be stored in the notebook document.

In [ ]:
%lsmagic

In [ ]:
from datetime import datetime

# Importing matplotlib.pyplot 
import matplotlib.pyplot as plt
%matplotlib inline

Seaborn is a library for making statistical graphics in Python. It is built on top of matplotlib and closely integrated with pandas data structures.

In [ ]:
# importing seaborn for plotting
import seaborn as sns
import plotly.express as px

# Lets see year on year trend of attacks

In [ ]:
# Finding yearly number of attacks
new_df['Year'].value_counts()

In [ ]:
# Storing year wise attacks in a new dataframe
year_wise = new_df['Year'].value_counts()

In [ ]:
# Sorting year wise 
year_wise.sort_index(inplace=True)

#Year On Year plot of reported attacks
It is evident from plot 2014 has been the worst affected year in terms of number of attacks and after that we are seeing gradual decline in coming years. From year 1997 to 1998 number of atatcks reduced by almost 1/3rd and attack counts were on nearly flat trend till 2004. 2004 onwards we see significant increase in terrorist activities.

In [ ]:
# Using Seaborn for plotting year on trend of number of attacks
sns.set_style('white')
plt.figure(figsize=(25,10))
plt.title("Yearwise count of attacks")
sns.countplot(x ='Year', data = new_df, palette='crest')

As seen previous graph 2014 onwards we see gradual decrease in number of attacks and from below trend of successful (=1) and unsuccessful(=0) over the years, 2014 onwards there has been gradual increase in unsuccessful attacks. This possibly because goverment agencies were able to neutralize attacks more efficiently.

In [ ]:
# creating dataframe of year wise success/failure count 
year_wise_success=new_df.groupby(['Year','Success'])['Success'].count().unstack()

In [ ]:
## Year wise success and unsuccessful

year_wise_success.plot(kind='bar',figsize=(15,6))
plt.title('Year on Year successful / failed attacks',size=20)
plt.ylabel('Number of attacks',size=20)
plt.xlabel('Year',size=20)

# Top 10 countries with terrorist activities

In [ ]:
# Using seaborn for country wise (top 10) terrorist activities plot (number of reported attacks)
plt.subplots(figsize=(16,10))
sns.barplot(new_df['Country'].value_counts()[:10].values,new_df['Country'].value_counts()[:10].index,palette='magma')
plt.title('Terrorist Attacks CountryWise',size=20)
plt.ylabel('Country',size=20)
plt.xlabel('Number of attacks',size=20)
plt.show()

# Top 10 countries with highest number of reported killings
## Surpise : Phillipines, United Kingdom , Turkey these are 4 countries though in top 10 attacked countries, these countries are not in top 10 count of killings.
## Nigeria though not in top 10 attacked countries, it is 4th highest country with reported killings.

In [ ]:
# Code for plotting top 10 countries with highest reported killings

kills = new_df.groupby(['Country'])['Killed'].sum().reset_index()

kills=kills.sort_values(by='Killed',ascending=False).reset_index()
kills=kills.head(10).sort_values(by='Killed',ascending=True)
plt.subplots(figsize=(18,6))
sns.barplot(x ='Country', y='Killed', data = kills, palette='Greys')
plt.title('Country Wise Killings',size=20)
plt.ylabel('People Killed',size=20)
plt.xlabel('Country',size=20)
plt.show()

In [ ]:
'''px.scatter(new_df,new_df.Wounded,new_df.Killed,hover_name='Country',animation_frame='Year',animation_group='Country',color='Country',
range_color=[0,1],labels={'Killed':'Deaths','Wounded':'Casualities'},
title='Number of casualities vs Killed people in each country for each year')'''

# Region wise number of attacks plot over years
## Graph area shows 'Middle east & North africa' and 'South Asia' are the regions with highest number terrorist activities

In [ ]:
new_df.Region.describe()

In [ ]:
# Grouping the reported events count with year and region
year_region_wise_count=new_df.groupby(['Year','Region'])['Region'].count().unstack()
# Plotting region wise reported events year on year with plot type - area
year_region_wise_count.plot(kind='area',figsize=(16,8))
plt.title('Year and Region wise reported attacks',size=20)
plt.ylabel('Count of attacks',size=15)
plt.xlabel('Year',size=15)

# Top 5 regions terrorist activity over the period of 1970 to 2017

In [ ]:
top_regions=new_df[new_df['Region'].isin(new_df['Region'].value_counts()[0:5].index)]
pd.crosstab(top_regions.Year,top_regions.Region).plot(color=sns.color_palette('Paired',10))
fig=plt.gcf()
fig.set_size_inches(18,6)
plt.vlines(x=2000,ymin=0,ymax=7000,colors='red',linestyles='--')
plt.title('Top 5 regions with highest number of terrorist attack',size=20)
plt.show()

# Remarks:
## From 1970s to early 2000s south america and western europe were on higher for reported attacks however, after 2000s we see these 2 countries with very low reported attacks. 
## Post 2000s till 2017 we see tremendeous increase in terrorist activities in 'Middle east & North Africa', 'South Asia' and ' Sub-Saharan Africa'

# Region wise killings due to terrorist attacks

In [ ]:
region_wise_killing=new_df.groupby(['Region'])['Killed'].sum().reset_index()
region_wise_killing=region_wise_killing.sort_values(by='Killed',ascending=True).reset_index()

In [ ]:
plt.subplots(figsize=(18,6))
sns.barplot(y ='Region', x='Killed', data = region_wise_killing, palette='Blues')
plt.title('Region Wise Killings',size=20)
plt.ylabel('People Killed',size=15)
plt.xlabel('Region',size=15)
plt.show()

##Remarks
--> Middle East & North Africa, South Asia, Sub-saharan Africa are top 3 regions where most amount of killings happened.

# Explore type of attacks and correlations

In [ ]:
# Basic information on type of attacks
new_df.Type_Of_Attack.describe()

In [ ]:
# Create a new df with type of attacks and its occurance
{'Type_Of_Attack': new_df['Type_Of_Attack'].value_counts().index,
'number_of_attacks': new_df['Type_Of_Attack'].value_counts().values}
distribution_attack_wise = pd.DataFrame({'Type_Of_Attack': new_df['Type_Of_Attack'].value_counts().index,
                                        'number_of_attacks': new_df['Type_Of_Attack'].value_counts().values})
distribution_attack_wise

In [ ]:
# Plotting the type of attacksw with its occurance
distribution_attack_wise.plot(x='Type_Of_Attack',y='number_of_attacks',kind='pie',autopct='%1.1f%%',figsize = (10,10))

## Remarks:
From above graph it very evident more than 50% of attacks are Bombing and explosion types, followed by armed assault and assassinations in 2nd and 3rd place resepectively

In [ ]:
year_attacktype_Wise_killings=new_df.groupby(['Year','Type_Of_Attack'])['Killed'].sum().unstack()

In [ ]:
year_attacktype_Wise_killings.plot(kind='line',figsize=(18,10))

# Observations from year on year trend of kilings from various types of attacks.
## Before 2000-2002 Armed assault was prominent reason for death of people, 2003 onwards Bombing/Explosion became the top reason for death.
## During 2000 to 2002 death due to hijacking were at peak

# Terrorist Group Wise activities

In [ ]:
# Basic propoerties of Terrorist group column
new_df.Terrorist_Group.describe()

In [ ]:
# Total number of people killed
new_df.Killed.sum()

In [ ]:
# PLotting terrorist gang wise total killings

gangwise_kill= new_df.groupby(['Terrorist_Group'])['Killed'].sum().reset_index()

gangwise_kill=gangwise_kill.sort_values(by='Killed',ascending=False).reset_index()
gangwise_kill=gangwise_kill.head(10).sort_values(by='Killed',ascending=True)
plt.subplots(figsize=(18,6))
sns.barplot(x ='Killed', y='Terrorist_Group', data = gangwise_kill, palette='Greys')
plt.title('Terrorist Organization Wise Killings',size=20)
plt.ylabel('People Killed',size=20)
plt.xlabel('Terrorist Organization',size=20)
plt.show()

## Islamic state of Iraq and the levant (ISIL) and Taliban are the terrorist orgnizations reponsible for highest number of killings, both combinely contribute to more than 21% of total killings

In [ ]:
gangwise_kill.head(10)

# Lets find out what are most favourite targets of terrorists

In [ ]:
#Finding type of target
plt.figure(figsize=(13,6))
sns.countplot(new_df['Target_Group'],order=new_df['Target_Group'].value_counts().index,
palette='magma')
plt.xticks(rotation=90)
plt.xlabel('Type')
plt.title('Type of Target')
plt.show()

## From above plot we can see Private Citizens & properties, Military and Police are the top 3 favourite targets by terrorists

## Lets try to plot a global map showing number of attacks in various parts of the world

In [ ]:
country_Wise_attacks=pd.DataFrame({'country': new_df['Country'].value_counts().index,
'number_of_attacks': new_df['Country'].value_counts().values})
fig = px.choropleth(country_Wise_attacks, locations="country",
locationmode='country names', color="number_of_attacks",
hover_name="country", range_color=[1, 1000],
color_continuous_scale="reds",title='Number of terrorist attacks by country')
((fig.update(layout_coloraxis_showscale=True,)))
fig.show()

In [ ]:
attack_type_df = pd.pivot_table(new_df,index=['Type_Of_Attack'] , values=['Killed','Damage_To_Prop','Success','ransompaid'], aggfunc=np.sum,sort=True).sort_values(by=['Killed','Damage_To_Prop','ransompaid','Success'],ascending=False).reset_index()
attack_type_df.head(10)

In [ ]:
coutnry_Wise_avg_damages=pd.pivot_table(new_df,index=['Country'] , values=['Damage_To_Prop'], aggfunc=np.mean,sort=True).reset_index()
coutnry_Wise_avg_damages=coutnry_Wise_avg_damages.rename(columns={'Damage_To_Prop':'Avg_Damage_To_Prop'})
coutnry_Wise_avg_damages

In [ ]:
pd.merge(attack_type_df, distribution_attack_wise, on='Type_Of_Attack', how='inner')

In [ ]:
attack_country_df = pd.pivot_table(new_df,index=['Type_Of_Attack','Country'] , values=['Killed','Damage_To_Prop','Success','ransompaid'], aggfunc=np.sum,sort=True).sort_values(by=['Killed','Damage_To_Prop','ransompaid','Success'],ascending=False)

In [ ]:
country_attack_agg_df=pd.pivot_table(new_df,index=['Country','Type_Of_Attack'] , values=['Killed','Damage_To_Prop','Success','ransompaid'], aggfunc=np.sum,sort=True).sort_values(by=['Killed','Damage_To_Prop','ransompaid','Success'],ascending=False)

In [ ]:
country_attack_agg_df_unsorted=pd.pivot_table(new_df,index=['Country','Type_Of_Attack'] , values=['Killed','Damage_To_Prop','Success','ransompaid'], aggfunc=np.sum,sort=True)
country_attack_agg_df_unsorted.head(10)

In [ ]:
new_df.info()

In [ ]:
world_Fre=new_df.groupby('Terrorist_Group')['eventid'].count().reset_index().rename(columns={'eventid':'Terrorist_Group'})

In [ ]:
Terrorist_Group_dict={}
for group,Terrorist_Group in zip(world_Fre.Terrorist_Group,world_Fre.Terrorist_Group  ):
  Terrorist_Group_dict[group]=Terrorist_Group

In [ ]:
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
plt.rcParams['figure.figsize']=(20,20)
plt.show()

In [ ]:
'''wordcloud = WordCloud(background_color='white')
wordcloud.generate_from_frequencies(frequencies = Terrorist_Group_dict,max_font_size=None)
plt.figure()
plt.imshow(wordcloud, interpolation="bilinear")
plt.title('Various Types of attacks')
plt.axis("off")
plt.show()'''

In [ ]:
'''wordcloud = WordCloud(width = 1000, height = 500).generate_from_frequencies(Terrorist_Group_dict)

plt.figure(figsize=(15,8))
plt.imshow(wordcloud)'''

In [ ]:
#df3 = new_df.groupby("Terrorist_Group")

In [ ]:
new_df.head(10)

In [ ]:
new_df.Type_Of_Attack.describe()

In [ ]:
distribution_attack_wise = pd.DataFrame({'Type_Of_Attack': new_df['Type_Of_Attack'].value_counts().index,
                                        'eventid': new_df['Type_Of_Attack'].value_counts().values})
distribution_attack_wise

In [ ]:
world_Fre1=distribution_attack_wise.groupby('Type_Of_Attack')['number_of_attacks'].count().reset_index().rename(columns={'number_of_attacks':'Type_Of_Attack'})

In [ ]:
'''wordcloud = WordCloud(background_color='white')
wordcloud.generate_from_frequencies(frequencies = world_Fre1,max_font_size=None)
plt.figure()
plt.imshow(wordcloud, interpolation="bilinear")
plt.title('Various Types of attacks')
plt.axis("off")
plt.show()'''

#Wordcloud

In [ ]:
text1 = " ".join(review for review in new_df.Region.astype(str))

In [ ]:
WordCloud().generate(text1)

In [ ]:
wordcloud = WordCloud(background_color="white", width=800, height=400).generate(text1)

In [ ]:
plt.figure()
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
text2 = " ".join(review for review in new_df.Type_Of_Attack.astype(str))
WordCloud().generate(text1)
wordcloud = WordCloud(background_color="white", width=800, height=400).generate(text2)
plt.figure()
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
text3 = " ".join(review for review in new_df.Target_Group.astype(str))
WordCloud().generate(text1)
wordcloud = WordCloud(background_color="white", width=800, height=400).generate(text3)
plt.figure()
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
text4 = " ".join(review for review in new_df.Country.astype(str))
WordCloud().generate(text1)
wordcloud = WordCloud(background_color="white", width=800, height=400).generate(text4)
plt.figure()
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()